@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --primary-light: #ff7a8f;
  --primary-dark: #8f2d3f;

  /* Common gradient */
  --gradient-primary: linear-gradient(
    135deg,
    var(--primary-light),
    var(--primary),
    var(--primary-dark)
  );
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: #e94560;
  --primary-100: #c73552;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

.container {
  @apply mx-auto max-w-[1300px] px-4 md:px-6;
}

@layer utilities {
  .bg-primary-gradient {
    background-image: var(--gradient-primary);
  }
}
